html,body{
    height:100%;
    width:100%;
}

#header {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 24px;
    color: blue;
    padding: 15px;
    display: block;
}

#content{
    background-color: lightgreen;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    padding-left:5px;

}

.megabox{
    background-color: lightyellow;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
}

.boxed{

}

.babybox p{
    background-color: lightsalmon;
    display: block;
    border-radius: 25px;
    width: 200px;
    margin: 20px auto;
}

.back p{
    background-color: blue;
    display: block;
    border-radius: 25px;
    width: 200px;
    margin: auto;
    color: white;
}

/* class is a ., id is a #*/